.layout {
    min-height: 100vh;
}

.logo {
    padding: 1rem 5rem;
    max-width: 100%;
}

.ant-form-item-label {
    text-align: left;
}

.ant-form-item-label label {
    color: aliceblue;
}

.content {
    background: #FFF;
    padding: 1rem;
    margin: 1rem;
}